<div class="kui-flex-wrap">
  <style>
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin:0px;
      padding:0px;
    }
  </style>
  {{#empty}}
    <div style="height:100%;text-align:center;font-weight:bold;display:flex;flex-direction:column;justify-content:center;align-items:center;">
      <div><p>Please Refresh Archive.</p><p>Goto Menu > Refresh Archive</p></div>
    </div>
  {{/empty}}
  {{^empty}}
  <ul class="kui-list kai-container">
    {{#filtered}}
    <li class="archvNav kui-divider">
        <pre>{{ name }}</pre>
    </li>
    {{/filtered}}
  </ul>
  {{/empty}}
</div>
